<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-xs-4 col-xs-offset-2">
    <h2>Tweet</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-1 col-xs-offset-2">
      <p><strong>Status:</strong></p>
  </div>
  <div class="col-xs-6">
    <p><%= @tweet.status %></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-1 col-xs-offset-2">
    <p><strong>User:</strong></p>
  </div>
  <div class="col-xs-6">
    <p> <%= @tweet.user.name %></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-2">
    <%= link_to edit_tweet_path(@tweet), class: "btn btn-xs btn-primary" do %>
        <i class="fa fa-pencil"></i>
    <% end %>|
    <%= link_to 'All Tweets', tweets_path, class: "btn btn-xs btn-primary" %>
  </div>
</div>
