<%= simple_form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.date_field :r_date %>
  </div>
  <div class="field">
    <%= f.select :r_time, (0..24).map {|i| [i,i.to_s] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
