<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Reservation date:</strong>
  <%= @reservation.r_date %>
</p>

<p>
  <strong>Reservation time:</strong>
  <%= @reservation.r_time %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
